/* 
* General styling
*/
br {
  line-height: 150%;
}
label {
  display: block;
  color: white;
}
h1 {
  font-size: 100px;
  color: white; 
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
h2 { 
  top: 200px; 
  left: 0; 
  width: 100%;
}
h2 span { 
  font-size: 25px;
  color: white; 
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300; 
  text-align: center;
}
h2 span.spacer {
  padding:0 5px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
}
h3 { 
  font-size: 45px;
  color: white; 
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300; 
  text-align: center;
}
h4 {
  font-size: 25px;
  color: black; 
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300; 
  text-align: center;
}
a {
  color: #00B7FF;
  text-align: center;
  display: inherit;
  font-size: 45px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  display: block;
}
/*
* Interface wraps
*/ 
.wrapper{ 
  margin: 0 auto;
  margin-top: 75px;
  padding: 10px;
  width:1600px;
  height:1000px;
}
.left-wrapper{
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width:500px;
  letter-spacing: 1px;  
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 50px; 
}
.right-wrapper{
  float: right;
  max-height: inherit;   
}
.bottom-right{
  float: right;
  margin-top: 10px;
  width: 800px;
  height: 400px;
  letter-spacing: 1px;  
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 50px; 
}
.index-wrapper{
  margin-top: 100px;
  margin-right: 300px;
  margin-left: 300px;
  margin-bottom: 100px;
  letter-spacing: 1px;  
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 50px; 
  display: inline-block;
  text-align: center;
}
.register-wrapper{
  margin-top: 100px;
  margin-right: 300px;
  margin-left: 300px;
  margin-bottom: 100px;
  letter-spacing: 1px;  
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 50px; 
  display: inherit;
  text-align: center;
}
.oops-wrapper{
  margin-top: 100px;
  margin-right: 400px;
  margin-left: 400px;
  margin-bottom: 100px;
  letter-spacing: 1px;  
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 50px; 
}
.title { 
  text-align: center;
}
/*
* Log out button
*/
.logout input[type=submit] {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #87cefa;
  color: #fff;
  padding: 5px 15px;
  margin-right: 20px;
  margin-top: 15px;
  border-radius: 10px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
/*
* Register styling
*/
.registerform input:not([type=submit]) {
    color: #555;
    height: 30px;
    line-height:15px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    padding: 10px;
    margin-right: 15px;
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
          0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}
.registerform input[type=submit] {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #87cefa;
  color: #fff;
  padding: 5px 15px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 15px;
  border-radius: 3px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.registerform label{
  text-align: left;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-top: 10px;
}
.registerform li {
  list-style: none;
}
.registerform{
  margin-right: 50px;
}
/*
* Map canvas styling
*/
#map-canvas {
  background-color:#FFD700; 
  width:100%; 
  height:200pt;
}
/*
* Images for the suggestions of twitter profiles
*/
datalist#suggestions option[value="Arsenal"]   { background-image:url('/images/A.jpg'); }
datalist#suggestions option[value="AVFCOfficial"] { background-image:url('/images/AV.png'); }
datalist#suggestions option[value="afcbournemouth"] { background-image:url('/images/BO.jpg'); }
datalist#suggestions option[value="ChelseaFC"]   { background-image:url('/images/CH.jpg'); }
datalist#suggestions option[value="CPFC"] { background-image:url('/images/CP.jpg'); }
datalist#suggestions option[value="Everton"] { background-image:url('/images/EVE.jpg'); }
datalist#suggestions option[value="LCFC"]   { background-image:url('/images/LC.jpg');  }
datalist#suggestions option[value="LFC"] { background-image:url('/images/L.jpg');  }
datalist#suggestions option[value="MCFC"] { background-image:url('/images/MC.jpg');  }
datalist#suggestions option[value="ManUtd"]   { background-image:url('/images/MU.jpg');  }
datalist#suggestions option[value="NUFC"] { background-image:url('/images/NU.jpg');  }
datalist#suggestions option[value="NorwichCityFC"] { background-image:url('/images/NC.png');  }
datalist#suggestions option[value="SouthamptonFC"]   { background-image:url('/images/S.png');  }
datalist#suggestions option[value="stokecity"] { background-image:url('/images/SC.jpg');  }
datalist#suggestions option[value="SunderlandAFC"] { background-image:url('/images/SUN.jpg');  }
datalist#suggestions option[value="SwansOfficial"]   { background-image:url('/images/SW.jpg');  }
datalist#suggestions option[value="SpursOfficial"] { background-image:url('/images/TH.jpg');  }
datalist#suggestions option[value="WBAFCofficial"] { background-image:url('/images/WBA.jpg');  }
datalist#suggestions option[value="whufc_official"] { background-image:url('/images/WH.jpg');  }
datalist#suggestions option[value="WatfordFC"] { background-image:url('/images/W.jpg');  }
/* 
* Index.html styles - mainly for the log in form
*/
.cf:before,
.cf:after {
    content: ""; 
    display: table;
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
:focus {
  outline: 0;
}
.loginform {
  margin:0 auto;
  width: 410px;
  padding: 25px;
  background-color: rgba(250,250,250,0.5);
  border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), 
          inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 5px solid rgba(0, 0, 0, 0.3);
}
.loginform ul {
  padding: 0;
  margin: 0;
}
.loginform li {
  display: inline;
  float: left;
  text-align: left;
}
.loginform input:not([type=submit]) {
  padding: 10px;
  margin-right: 15px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
        0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.loginform input[type=submit] {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #64c8ef;
  color: #fff;
  padding: 5px 15px;
  margin-right: 10px;
  margin-top: 15px;
  border-radius: 3px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.register{
  color: #00B7FF;
  text-align: center;
  display: inherit;
  font-size: 15px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  display: inline;
}
/* 
* styling for the 404 page
*/
#cycler{
  position: relative; 
  text-align: center; 
  margin: auto;  
  width:640px;
  height:480px;
}
#cycler img{
  position: relative;
  z-index: 1;
  display: none;
}
#cycler img.active{
  z-index: 3;
  display: inline-block;
}
/* 
* styling for the queryInterface - form adapted from online resources 
*/
#toggle-view {
  position: relative;
  list-style: none;   
  color: white; 
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

  #toggle-view li {
    margin:10px;
    border-bottom:2px solid #ccc;
    position:relative;
    cursor:pointer;
  }
  #toggle-view p {
    text-align: left;
    font-size: 15px;
  }
  
  #toggle-view h2 {
    margin:0;
    text-align: center;
  }

  #toggle-view span {
    position:absolute;
    right:5px; top:0;
    color:#ccc;
    font-size:20px;
  }
  
  #toggle-view .panel {
    margin:5px 0;
    display:none;
  }
.form {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #F8F8F8;
    padding: 30px 30px 20px 30px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.form h1 {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 20px 20px 20px 40px;
    display: block;
    margin: -30px -30px 10px -30px;
    color: #FFF;
    background: #87cefa;
    text-shadow: 1px 1px 1px #949494;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-bottom:1px solid #87cefa;

}
.form h1>span {
    display: block;
    font-size: 11px;
    color: #FFF;
}

.form label {
    display: block;
    margin: 0px 0px 5px;
}
.form label>span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}
.form input[type="text"], input[type="number"], input[type="date"], .form textarea, .form select {
    color: #555;
    height: 30px;
    line-height:15px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.form textarea{
    height:100px;
    padding-top: 10px;
}
.form select {
    background: url('down-arrow.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url('down-arrow.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
   appearance:none;
    -webkit-appearance:none; 
   -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width:100%;
    height:30px;
}
.twitterform input:not([type=submit]) {
  padding: 10px;
  margin-right: 15px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
        0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.twitterform input[type=submit] {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #87cefa;
  color: #fff;
  padding: 5px 15px;
  margin-right: 10px;
  margin-top: 15px;
  border-radius: 3px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
/* 
* Style for creating the backgorund to all the HTML pages 
*/
.home { 
  background: url('/images/Etihad-Stadium.jpg') center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: background 2s linear;
}